/*
colour palette
#fcfffc white
#2d3a3a darkgrey
#f596aa pink
#cb4042 vermillion
*/

@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: XiaoWei;
    src: url('../fonts/ZCOOLXiaoWei-Regular.ttf');
}

.en {
    font-family: Raleway;
}

.cn {
    font-family: XiaoWei;
}

body {
    animation: fadeIn 2s ease 0s 1;
    background: #f596aa;
    color: #fcfffc;
    font-size: 3em;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ajax-index {
    z-index: 1;
}

.ajax-gallery {
    display: none;
}

.hitomi img {
    width: 75%;
    height: auto;
}

.amg img {
    width: 40%;
    height: auto;
}

.banner {
    padding: 0.25em 0;
}

.details {
    font-size: 0.55em;
}

.fa-facebook, .fa-instagram, .fa-image, .fa-house {
    color: #fcfffc;
}

.fa-facebook:hover, .fa-instagram:hover, .fa-image:hover, .fa-house:hover {
    color: #cb4042;
    cursor: pointer;
}

#gallery-container {
    padding-bottom: 1em;
}

.gallery-item {
    height: 200px;
    padding: 10px 5px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

@media screen and (max-width: 1600px) {
    .hitomi img {
        width: 50%;
    }

    .amg img {
        width: 40%;
    }
}

@media screen and (max-width: 1280px) {
    body {
        font-size: 2em;
    }

    .details {
        font-size: 0.75em;
    }

    .hitomi img {
        width: 40%;
    }

    .amg img {
        width: 30%;
    }
}

@media screen and (max-width: 1024px) {
    body {
        font-size: 3em;
    }

    .details {
        font-size: 0.75em;
    }

    .hitomi img, .amg img {
        width: 60%;
    }
}

@media screen and (max-width: 500px) {
    body {
        font-size: 2em;
    }

    .hitomi img, .amg img {
        width: 75%;
    }
}
/*
@media screen and (max-height: 720px) {
body {
font-size: 1.5em;
}

.hitomi img, .amg img {
width: 75%;
}
}